*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color:#cfd7c7;
  width:100%;
  height: 100vh;
  font-family: 'Amatic SC', cursive;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.centralizar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Handjet';
  font-size: 8rem;
  margin-top: -60%;
  font: bold;
  position: absolute;
}

h3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Handjet';
  font-size: 3rem;
  margin-top: -40%;
  font: bold;
  position: absolute;
}

/* Botão da tela de regras */
.btn_voltar{
  display: flex;
  color:rgb(255, 255, 255);
  background-color: black;
  margin: 500px;
  border-radius: 30px;
  border-color: #2e2787;
  box-shadow: 5px 3px 3px black;
  font-weight: bold;
  font-size: 1rem;
  height: 40px;
  width: 150px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(1.5);
  font-family: century-gothic, sans-serif;
  }
   
      
  .btn_voltar:hover{
      transform: scale(1.9);
      background-color: #2e2787;
  }
  
  .btn_voltar a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 1.0em;
  }
  
  .btn_voltar a:hover{
      text-decoration: none;
      color: whitesmoke;
  }
  

/* Estilização da div que contém as bolhas */
.container{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* posicionamento das bolhas */
.bolhas{
  display: flex;
}

/* Estilização das bolhas */
.bolhas span{
  width: 20px;
  height: 20px;
  background-color: #ff7f11;
  margin: 0 4px;
  border-radius: 50%;
  /* Gradação das cores em volta das bolhas */
  box-shadow: 0 0 0 10px #ff7f1144,
  0 0 50px #ff7f11,
  0 0 100px #ff7f11;
  /* Adição de animação e chamando a função 'animar' as bolhas */
  animation: animar calc(250s/ var(--i)) linear infinite;
}

/* Estilização das bolhas */
.bolhas span:nth-of-type(even){
  background: #e7ff11;
    /* Gradação das cores em volta das bolhas */
  box-shadow: 0 0 0 10px #ff7f1144,
  0 0 50px #e7ff11,
  0 0 100px #e7ff11;
}

/* Animação das bolhas */
@keyframes animar{
  0%{
    transform: translateY(100vh)scale(0);
  }
  100%{
    /**/
    transform: translateY(-1vh)scale(0.5);
  }
}



