*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width:100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(123, 52, 189));
}

section{
  margin: 15%;
  border: 3px solid rgb(123, 52, 189);
  box-shadow: 5px 5px 5px 5px rgb(75, 23, 124);
  border-radius: 7px;
  padding: 1em;
  position: absolute;
}


/* Estilização da div que contém as bolhas */
.container{
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


p{
  display: flex;
  justify-content: center;
  color:#ffffff;
  font-size: 20px;
  margin: 3%;
  text-align: justify;
}
  
  #resultado{
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

  h1{
    display: flex;
    margin: 5px;
    margin-bottom: 5%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:#ffffff;
  }

  .position{
    display: flex;
    justify-content: flex-end;
  }

  #botao-verificar {
    display: flex;
    color:#ffffff;
    background-color: #7b34bd;
    margin: 5px;
    border-radius: 3px;
    border-color: #9f65d6;
    box-shadow: 5px 3px 3px #4b177c;
    font-weight: bold;
    font-size: 1rem;
    height: 40px;
    width: 90px;
    align-items: center;
    justify-content: center;
  }    

  button{
    cursor: pointer
  }


/* posicionamento das bolhas */
.bolhas{
  position: absolute;
  display: flex;
}

/* Estilização das bolhas */
.bolhas span{
  width: 20px;
  height: 20px;
  background-color: #0ea04b;
  margin: 0 4px;
  border-radius: 50%;
  /* Gradação das cores em volta das bolhas */
  box-shadow: 0 0 0 10px #0ea04b44,
  0 0 50px #0ea04b,
  0 0 100px #0ea04b;
  /* Adição de animação e chamando a função 'animar' as bolhas */
  animation: animar calc(250s/ var(--i)) linear infinite;
}

/* Estilização das bolhas */
.bolhas span:nth-of-type(even){
  background: #b1db17;
    /* Gradação das cores em volta das bolhas */
  box-shadow: 0 0 0 10px #b1db1744,
  0 0 50px #b1db17,
  0 0 100px #b1db17;
}

/* Animação das bolhas */
@keyframes animar{
  0%{
    transform: translateY(100vh)scale(0);
  }
  100%{
    /**/
    transform: translateY(-1vh)scale(0.5);
  }
}



@media(max-width:570px){
  #resposta{
    width: 100%;
  }
  .botao-verificar{
    display: flex;
    align-items: center;
    justify-content: center;
  }


}

@media(max-width:530px){
  h2{
    width: auto
  }

  .Quest1 img{
    width: 200px;
  }

  .btn_Aranha{
    width: 250px;
  }

  .radio_conteiner{
    height: 70px;
    width: 100px;
  }
}

@media(max-width:289px){
  h1{
    font-size: 1.5em;
  }
  #resposta{
    font-size: 1.5em;
  }
}