html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./imagens/fundo.jpeg); 
}
  


section{
  margin: 5px;
  border: 3px solid black;
  box-shadow: 5px 5px 5px 5px ;
  border-radius: 7px;
  padding: 1em; 
}

#conteiner{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00b4d8;
  padding: 1em;
}

.text{
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-top: -50px;
}

.text p{
  color:ghostwhite;
  background-color: black;
  font-size: 28px;
  margin: 2%; 
  text-align: justify;
  font-family: century-gothic, sans-serif;
  padding: 20px;
  border: 2px solid #2e2787;
  box-sizing: border-box;
}
  
  #resultado{
    color:ghostwhite;
    font-size: 20px;
    margin: 2%; 
    text-align: justify;
    font-family: century-gothic, sans-serif;
    border-radius: 15px;
  }

   h1{
    text-align: center;
    color: ghostwhite;
    font-size: 30px;
    font-family: century-gothic, sans-serif;
    background-color: black;
  
   }

  .position{
    display: flex;
    justify-content: flex-end;
  }

  #botao-verificar {
    display: flex;
    color:rgb(255, 255, 255);
    background-color: black;
    margin: 3%;
    border-radius: 30px;
    border-color: #2e2787;
    box-shadow: 5px 3px 3px black;
    font-weight: bold;
    font-size: 1rem;
    height: 40px;
    width: 150px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(1.5);
    font-family: century-gothic, sans-serif;
  } 
  
  #botao-verificar:hover {
    transform: scale(1.1);
    background-color: #2e2787;
  }

  button{
    cursor: pointer
  }

  .teste{
    height: 350px;
    border-radius: 5px;
    margin-bottom: 5%;
  }

  .centralizar{
    width: 100%;
    display: flex;
    margin: 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


@media(max-width:570px){
  #resposta{
    width: 100%;
  }
  .botao-verificar{
    display: flex;
    align-items: center;
    justify-content: center;
  }


}

@media(max-width:530px){
  h2{
    width: auto
  }

  .Quest1 img{
    width: 200px;
  }

  .btn_Aranha{
    width: 250px;
  }

  .radio_conteiner{
    height: 70px;
    width: 100px;
  }
}

@media(max-width:289px){
  h1{
    font-size: 1.5em;
  }
  #resposta{
    font-size: 1.5em;
  }
}