*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#cfd7c7;
    width:100%;
    height: 100vh;
    font-family: 'Amatic SC', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteiner{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1em;
}

.text1{
    background-color: #8505ee;
    width: 550px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px #333;
}

.text1 p{
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

#title{
    background-color: #000000;
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px #333;
}

#title h2{
    color:#fff;
    font-size: 6em;
    text-transform: uppercase;
}

.action{
    width: 550px;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.action button{
    display: flex;
    color:rgb(255, 255, 255);
    background-color: rgb(57, 6, 241);
    margin: 5px;
    border-radius: 5px;
    border-color: #2e2787;
    box-shadow: 5px 3px 3px black;
    font-weight: bold;
    font-size: 10px;
    height: 40px;
    width: 150px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(1.5);
    font-family: century-gothic, sans-serif;
    margin-top: 50%;
}

.action button:hover{
    background-color: #2e2787;
    
}
.action button a{
    text-decoration: none;
    color: black;
    font-size:2em
}

.action button a:hover{
    text-decoration: none;
    color: whitesmoke;
    font-size:2em
}

.btn_voltar{
display: flex;
color:rgb(255, 255, 255);
background-color: black;
margin: 5px;
        border-radius: 30px;
        border-color: #2e2787;
        box-shadow: 5px 3px 3px black;
        font-weight: bold;
        font-size: 1rem;
        height: 40px;
        width: 150px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transform: scale(1.5);
        font-family: century-gothic, sans-serif;
      }
 
    
    .btn_voltar:hover{
      transform: scale(1.1);
      background-color: #2e2787;
    }
