*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#cfd7c7;
    width:100%;
    height: 100vh;
    font-family: 'Amatic SC', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.conteiner{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1em;
}

.text1{
    background-color: #00b4d8;
    width: 550px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px #333;
}

.text1 p{
    text-transform: uppercase;
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    color: #444;
}

#title{
    background-color: #fcca46;
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px #333;
}

#title h2{
    color:#fff;
    font-size: 6em;
    text-transform: uppercase;
}

.action{
    width: 550px;
    display: flex;
    justify-content: end;
    margin-top: 2em;
}

.action button{
    display: flex;
    color:rgb(255, 255, 255);
    background-color: black;
    margin: 5px;
    border-radius: 30px;
    border-color: #2e2787;
    box-shadow: 5px 3px 3px black;
    font-weight: bold;
    font-size: 1rem;
    height: 40px;
    width: 150px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(1.5);
    font-family: century-gothic, sans-serif;
}

.action button:hover{
    background-color: #2e2787;
}

.action button a{
    text-decoration: none;
    color: #ffff;
    font-size:2em
}

 label{
    box-shadow: 5px 5px 5px #ff7f11;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    margin: 5px;
    height: 70px;
    width: 200px;
    padding: 5px;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1em
  } 

  input[type="radio"]:checked + label{
    background-color: #00b4d8;
  }
/* Responsividade */
/* REsponsividade o1 */