html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em;
  background-image: url(../imagens/fundo.jpeg);
  background-size: cover;
  background-position: center;
}

#conteiner{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

#conteiner h1{
  margin-top:5em
}


section{
    border: 3px solid black;
    box-shadow: 5px 5px 5px 5px ;
    border-radius: 7px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

#question{
  max-width: 500px;

}

h1{
  text-align: center;
    color: ghostwhite;
    font-size: 30px;
    font-family: century-gothic, sans-serif;
  background-color: black;
  padding-left: 8%;
  padding-right: 8%;
}

h2{
  text-align: center;
  color: ghostwhite;
  font-size: 30px;
  font-family: century-gothic, sans-serif;
background-color: black;
}

.btn_Aranha{
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}


input[type="radio"]{
  width: 200px;
  height: 70px;
}

input[type="radio"]::after{
  width: 200px;
  height: 70px;
  border: 2px solid #2e2787;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: black;
  content: attr(value);
  line-height: 36px;
  color: white;
  font-size: 22px;
  font-family: century-gothic, sans-serif;
  cursor: pointer;
}

input[type="radio"]:checked::after{
  transform: scale(1.1);
  background-color: #080336;
  transition: 500ms linear;
}


label{
  padding: 5px 10px;
  background-color: #eee;
  cursor: pointer;
  font-size:14px
}

section img{
  width: 400px;
  border-radius: 5px;
  margin-bottom: 5%;
  height: 280px;
}

.btn_verificar{
  display: flex;
  justify-content: end;
}
.btnVerificar{
  display: flex;
  color:rgb(255, 255, 255);
  background-color: black;
  margin: 5px;
  border-radius: 30px;
  border-color: #2e2787;
  box-shadow: 5px 3px 3px black;
  font-weight: bold;
  font-size: 1rem;
  height: 40px;
  width: 150px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(1.0);
  font-family: century-gothic, sans-serif;
}

.btnVerificar:hover {
  transform: scale(1.1);
  background-color: #082a9b;
}

button{
  cursor: pointer
}

@media(max-width:841px){
  h2, h1{
    font-size: 1em;
  }

  #question{
    width: 100%;
  }

  .btn_Aranha{
    width: 100%;
  }
}

@media(max-width:630px){
  section img{
    width:250px
  }

  section{
    width: 250px;
  }

  .btn_Aranha{
    width: 250px;
  }
}

@media(max-width:570px){
  .btn_verificar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
