html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(imagens/fundo.jpeg);  }
  
  section{
    margin: 5px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px 5px ;
    border-radius: 7px;
    padding: 1em;
    
  }
  h1{
    text-align: center;
    color: ghostwhite;
    font-size: 30px;
    font-family: century-gothic, sans-serif;
    background-color: black;
  }
  
  #conteiner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00b4d8;
    padding: 1em;
  }
  
  .Quest1{
    width: 100%;
    display: flex;
    margin: 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
.perguntas{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-top: -50px;
}
  .respostas{
  width: 200px;
  height: 70px;
  border: 2px solid #2e2787;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: black;
  line-height: 36px;
  color: white;
  font-size: 22px;

  }

  button{
    display: flex;
    color:rgb(255, 255, 255);
    background-color: black;
    margin: 5px;
    border-radius: 30px;
    border-color: #2e2787;
    box-shadow: 5px 3px 3px black;
    font-weight: bold;
    font-size: 1rem;
    height: 40px;
    width: 150px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(1.5);
    font-family: century-gothic, sans-serif;
  }
  
  button:hover {
    transform: scale(1.1);
    background-color: #2e2787;
  }
  #programacao{
    height: 350px;
    border-radius: 5px;
    margin-bottom: 5%;
  }

  